.banner {
    position: realtive;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar {
    Position: absolute;
    top: 80px;
    right: 20px;
}

a {
    text-decoration: none;
}

.bar, a:visited {
    position: realitive;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #a8a8a8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: white;
    list-style-type: none;
    display: inline;
}

a:hover, a:active {
    color: brown;
}
